body {
    background-size: 600px;
    max-width: 100%;
    height: 100vh;
    font-family: 'Poppins' !important;
}

@media only screen and (max-width: 600px) {
    body {
      background-image: none !important;
    }
}

.content-fluid {
    padding-left: 50px;
    padding-right: 50px;
    background-color: #016A70 !important;
    height: 350px;
}

.cont-fluid {
    padding-left: 50px !important;
    padding-right: 50px !important;
}

/* ....!:::::::::: START NAVIGATION BAR & FOOTER ::::::::::!....*/
/* :::::::::::::: START NAVIGATION ::::::::::::::*/
nav.navbar {
    padding-left: 35px;
    padding-right: 27px;
    background-color: #FFFF;
}

.navbar-brand {
    margin: 0px;
}

nav .navbar-nav li a.dropdown-item:hover {
    color: #FFFF;
    background-color: #016A70;
}

nav .navbar-nav li {
    padding-right: 3px;
}

nav .navbar-nav li a {
    color: #FFFF;
    font-size: 16px;
    font-weight: bold;
}

nav .navbar-nav li a:hover {
    color: #000000;
}

.bg-transparent.scrolled {
    background: #016A70 !important;
    shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* :::::::::::::: END NAVIGATION ::::::::::::::*/
/* ....!:::::::::: END NAVIGATION BAR & FOOTER ::::::::::!....*/

/* ....!:::::::::: START HALAMAN HOME::::::::::!....*/
/* :::::::::::::: START SECTION TAMBAH KEBUN ::::::::::::::*/
/* :::::::::::::: END SECTION TAMBAH KEBUN ::::::::::::::*/

/* :::::::::::::: START SECTION TAMBAH KEBUN ::::::::::::::*/
section.menu-tambah {
    margin-bottom: 20px;
}

.cardt {
    box-shadow: none !important;
}

.has-search2 {
    position: relative;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 600px) {
    .has-search2 {
      width: 100% !important;
      padding: 0px !important;
    }
}
  
.has-search2 .form-control {
    padding-right: 2.375rem;
    border: none; 
    border-radius: 10px;
    background: #D4ECDD;
    padding: 15px;
}
  
.has-search2 .form-control-feedback2 {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    color: #016A70;
    right: 0;
    top: 10px;
    background-color: transparent;
    border: 0px;
}

@media only screen and (max-width: 600px) {
    .has-search2 .form-control-feedback2 {
      width: 50% !important;
    }
}

@media only screen and (max-width: 600px) {
    .has-search2 .form-control-feedback2 {
      width: 70% !important;
      padding: 0px !important;
      padding-left: 50% !important;   
    }
}
/* :::::::::::::: END SECTION TAMBAH KEBUN ::::::::::::::*/

/* :::::::::::::: START SECTION MENU UTAMA ::::::::::::::*/
.colmenu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons {
    width: 50px;
    height: 50px;
}

a .judul{
    color: #000000 !important;
}

.colmenu .icons .judul:hover {
    color: #016A70 !important;
}
/* :::::::::::::: END SECTION MENU UTAMA ::::::::::::::*/