body {
    background-size: 600px;
    max-width: 100%;
    height: 100vh;
    font-family: 'Poppins' !important;
}

@media only screen and (max-width: 600px) {
    body {
      background-image: none !important;
    }
}

.content-fluid {
    padding-left: 50px;
    padding-right: 50px;
    background-color: #005288 !important;
    height: 350px;
}

.cont-fluid {
    padding-left: 50px !important;
    padding-right: 50px !important;
}

/* ....!:::::::::: START NAVIGATION BAR & FOOTER ::::::::::!....*/
/* :::::::::::::: START NAVIGATION ::::::::::::::*/
.landingbg{
    background-color: #005288;
    height: 130px;
}

nav.navbar {
    padding-left: 35px;
    padding-right: 27px;
    background-color: #005288;
}

.navbar-brand {
    margin: 0px;
}

nav .navbar-nav li a.dropdown-item:hover {
    color: #FFFF;
    background-color: #005288;
}

nav .navbar-nav li {
    padding-right: 3px;
}

nav .navbar-nav li a {
    color: #FFFF;
    font-size: 16px;
    font-weight: bold;
}

nav .navbar-nav li a:hover {
    color: #000000;
}

.bg-transparent.scrolled {
    background: #005288 !important;
    shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* :::::::::::::: END NAVIGATION ::::::::::::::*/

/* :::::::::::::: START FOOTER ::::::::::::::*/

/* :::::::::::::: END FOOTER ::::::::::::::*/
/* ....!:::::::::: END NAVIGATION BAR & FOOTER ::::::::::!....*/

/* ....!:::::::::: START HALAMAN HOME::::::::::!....*/
/* :::::::::::::: START SECTION DESCRIPTION ::::::::::::::*/
section.decsription {
    margin-bottom: 50px;
}

.descawal {
    font-size: 24px;
    text-align: center; 
    color: #FFFF;
    font-weight: 600;
    line-height: 48px;

}

.descawal2 {
    font-size: 20px;
    text-align: center; 
    color: #FFFF;
    padding-top: 36px;
    padding-bottom: 35px;
    line-height: 48px;
    font-weight: 600;
}
/* :::::::::::::: END SECTION DESCRIPTION ::::::::::::::*/

/* :::::::::::::: START SECTION TOPIK DASHBOARD ::::::::::::::*/
.cards-wrapper {
    display: inline-flex;
    justify-content: center;
}

.card img {
    max-width: 89px;
    max-height: 89px;
    margin: 10px 10px;
}

.carousel-inner {
    text-align: center;
}

.cardt {
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 8px !important;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%) !important;
}

.hgl-judul {
    margin-top: -90px;
    margin-left: 70px;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    color: #000000;
}

.hgl-judul1 {
    margin-top: -90px;
    margin-left: 35px;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    color: #000000;
}

.hgl-judul2 {
    margin-top: -90px;
    margin-left: 33px;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    color: #000000;
}

.hgl-btn {
    margin-top: -50px;
    margin-left: 65px;
    font-size: 16px;
    line-height: 30px;
    color: #005288;
}

.hgl-btn:hover {
    color: #005288;
    font-weight: bold;
}

span.carousel-control-next-icon, span.carousel-control-prev-icon {
    background-color: #D9D9D9;
    width: 49px;
    height: auto;
    cursor: pointer;
    border-radius: 100%;
}

span.carousel-control-prev-icon, span.carousel-control-next-icon {
    color: black;
}

.carousel-control-next, .carousel-control-prev {
    opacity: .0;
}

span.carousel-control-prev-icon {
    margin-right: auto;
}

span.carousel-control-next-icon {
    margin-left: auto;
}
/* :::::::::::::: END SECTION TOPIK DASHBOARD ::::::::::::::*/

/* :::::::::::::: START SECTION HIGHLIGHT DATA ::::::::::::::*/
section.hl{
    margin-bottom: 50px;
}

.judulhl {
    font-weight: 600;
    font-size: 27px;
    line-height: 39px;
    color: #000;
    padding-bottom: 20px;
}

.rowcont {
    border-radius: 8px !important;
    box-shadow: 0px 2px 6px rgb(0 0 0 / 20%) !important;
    height: 145px;
    width: 270px !important;
}

.rowcont img{
    margin: 10px 3px;
}

.rowcont:hover {
   background-image: radial-gradient(#B0DEFF 30%, #E1F3FF 100%, #E1F3FF 0%);
}

.judulhl1 {
    color: #000;
    font-weight: 600;
    font-size: 18px;
    margin-top: 18px;
    padding-right: 25px;
}

.judulhl2 {
    color: #000;
    font-weight: 600;
    font-size: 18px;
    margin-top: 18px;
    padding-right: 60px;
}

.judulhl3 {
    color: #000;
    font-weight: 600;
    font-size: 18px;
    margin-top: 18px;
    padding-right: 50px;
}

.judulhl4 {
    color: #000;
    font-weight: 600;
    font-size: 18px;
    margin-top: 18px;
    padding-right: 70px;
}


.deschl {
    color: #000000;
    font-size: 24px;
    padding-left: 10px;
}

.descthn {
    color: #000000;
    font-size: 18px;
    padding-left: 10px;
}

.rowgap {
    row-gap: 35px !important;
}

@media only screen and (max-width: 600px) {
    .judulhl1 {
      padding-right: 40px;
    }
    .judulhl2 {
        padding-right: 75px;
    }
    .judulhl3 {
        padding-right: 60px;
    }
}
/* :::::::::::::: END SECTION HIGHLIGHT DATA ::::::::::::::*/

/* :::::::::::::: START SECTION Table Data ::::::::::::::*/
section.visual{
    margin-bottom: 50px;
}

.card-h{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 420px;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: initial;
    box-shadow: 0px 2px 4px rgb(0 0 0 / 20%) !important;     
}

@media only screen and (max-width: 600px) {
    .card-h {
      width: 300px !important;
    }
}

.card-judul{
    margin: -20px -20px;
}

.titlejml{
    color: #000000;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 10px;
}

.tbdata {
    max-height: 500px;
    overflow: auto;
    display:inline-block;
}

@media only screen and (max-width: 600px) {
    .tbdata {
      width: 280px !important;
    }
}

.tbdata table {
    border-radius: 10px !important;
    border-spacing: 0px;
    box-shadow: 0px 2px 4px rgb(0 0 0 / 20%);
}

.tbdata table th, td {
    font-weight: 400;
    line-height: 36px;
    color: #000000;
}

.tbdata table tr:hover {
    background-color: #F6F6F6;
}

.has-search2 {
    position: relative;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 600px) {
    .has-search2 {
      width: 100% !important;
      padding: 0px !important;
    }
}
  
.has-search2 .form-control {
    padding-right: 2.375rem;
    border: 2px solid #000000; 
    border-radius: 8px;
}
  
.has-search2 .form-control-feedback2 {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    color: #000000;
    right: 0;
    top: 0;
    background-color: transparent;
    border: 0px;
}

@media only screen and (max-width: 600px) {
    .has-search2 .form-control-feedback2 {
      width: 50% !important;
    }
}

@media only screen and (max-width: 600px) {
    .has-search2 .form-control-feedback2 {
      width: 70% !important;
      padding: 0px !important;
      padding-left: 50% !important;   
    }
}
/* :::::::::::::: END SECTION Table Data ::::::::::::::*/

/* :::::::::::::: START SECTION Visualisasi Map ::::::::::::::*/
.card-m{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 870px;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: initial;
    box-shadow: 0px 2px 4px rgb(0 0 0 / 20%) !important;  
}

.judulvs{
    color: #000000 !important;
    font-weight: 600 !important;
    margin-bottom: 25px !important;
    font-size: 18px;
}

@media only screen and (max-width: 600px) {
    .card-m {
      width: 300px !important;
    }
}

.titleket{
    color: #000000;
    font-size: 18px;
    font-weight: 600;
    margin-top: 25px;
}

.warna1{
    background-color: #E9EDF1;
    width: 24px;
    height: 24px;
    border-radius: 2px;
    box-shadow: 0px 2px 4px rgb(0 0 0 / 20%) !important;
    margin-left: 50px;
    align-items: center !important;
}
.warna2{
    background-color: #C2CDD8;
    width: 24px;
    height: 24px;
    border-radius: 2px;
    box-shadow: 0px 2px 4px rgb(0 0 0 / 20%) !important;
    margin-left: 35px;
    align-items: center !important;
}
.warna3{
    background-color: #849AB0;
    width: 24px;
    height: 24px;
    border-radius: 2px;
    box-shadow: 0px 2px 4px rgb(0 0 0 / 20%) !important;
    margin-left: 35px;
    align-items: center !important;
}
.warna4{
    background-color: #65819D;
    width: 24px;
    height: 24px;
    border-radius: 2px;
    box-shadow: 0px 2px 4px rgb(0 0 0 / 20%) !important;
    margin-left: 35px;
    align-items: center !important;
}

.ket1{
    color: #000000;
    font-size: 16px;
    font-weight: 600;
    padding-left: 35px;
    padding-top: 5px;
    width: max-content;
}

.textket{
    color: #000000;
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
}

.card-ket{
    box-shadow: none !important;
}

@media only screen and (max-width: 600px) {
    .warna1{
      margin-left: 70px !important;
    }
    .warna2{
        margin-left: 70px !important;
    }
    .warna3{
        margin-left: 70px !important;
    }
    .warna4{
        margin-left: 70px !important;
    }
}
/* :::::::::::::: END SECTION Visualisasi Map ::::::::::::::*/
/* ....!:::::::::: END HALAMAN HOME::::::::::!....*/

/* ....!:::::::::: START HALAMAN TOPIK::::::::::!....*/
/* :::::::::::::: START SECTION DECSRIPTION ::::::::::::::*/
section.decsdashboard{
    margin-top: 80px;
    margin-bottom: 50px;
}
.descdash {
    font-size: 22px;
    text-align: left; 
    color: black;
    font-weight: 600;
    line-height: 48px;
    pointer-events: none !important;
    margin-bottom: 50px;
    padding-top: 79px !important;
}

.has-search {
    position: relative;
    justify-content: left;
    padding-right: 20%;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 600px) {
    .has-search {
      width: 100% !important;
      padding: 0px !important;
    }
}
  
.has-search .form-control {
    padding-right: 2.375rem;
    border: 2px solid #000000; 
    border-radius: 8px;
}
  
.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    color: #000000;
    right: 0;
    top: 0;
    background-color: transparent;
    border: 0px;
    padding-right: 24%;
}

@media only screen and (max-width: 600px) {
    .has-search .form-control-feedback {
      width: 70% !important;
      padding: 0px !important;
      padding-left: 50% !important;   
    }
}
/* :::::::::::::: END SECTION DECSRIPTION ::::::::::::::*/

/* :::::::::::::: START SECTION TOPIK DASHBOARD ::::::::::::::*/
section.topikdash {
    margin-bottom: 50px;
}

.imagetopik img {
    margin: 29px 20px;
}

.titletds {
    color: #000;
    font-size: 16px;
    font-weight: 600;
    padding-top: 0px;
}

.texttds {
    color: #000;
    font-size: 14px;
    font-weight: 500;
}

.judultds{
    color: #000000 !important;
    font-weight: 600 !important;
    background-color: #B0DEFF !important;
    border-radius: 5px !important;
    border-spacing: 0px;
    box-shadow: none !important;
    text-transform: capitalize !important;
    padding: 5px 15px 5px !important;
}
/* :::::::::::::: END SECTION TOPIK DASHBOARD ::::::::::::::*/
/* ....!:::::::::: END HALAMAN TOPIK::::::::::!....*/


/* ....!:::::::::: START HALAMAN PROFIL SEKOLAH::::::::::!....*/
/* :::::::::::::: START SECTION SUB TOPIK PENDIDIKAN ::::::::::::::*/
section.Psekolah {
    margin-bottom: 50px;
}

.colP {
    width: 380px !important;
}

.cardP:hover {
    background-image: radial-gradient(#B0DEFF 30%, #E1F3FF 100%, #E1F3FF 0%);
}

.cardP {
    width: 350px; 
    height: 120px;
    box-shadow: 0px 2px 4px rgb(0 0 0 / 20%) !important;
}

.imagetopikP img {
    margin: 15px 20px;
}

.titleP {
    color: #000;
    font-size: 18px;
    font-weight: 600;
    padding-top: 20px;
    padding-left: 40px;
}

@media only screen and (max-width: 600px) {
    .cardbP {
        margin-top: -115px !important;
        margin-left: 65px !important;
    }
    .cardbPS {
        margin-top: -127px !important;
        margin-left: 65px !important;
    }
    .cardP {
        width: 300px !important;
    }
}
/* :::::::::::::: END SECTION SUB TOPIK PENDIDIKAN ::::::::::::::*/

/* :::::::::::::: START SECTION DESKRIPSI TOPIK PENDIDIKAN ::::::::::::::*/
section.decsTP {
    margin-bottom: 50px;
}

.descdash1 {
    font-size: 20px;
    text-align: left; 
    color: black;
    font-weight: 600;
    line-height: 48px;
    pointer-events: none;
    color: #000000;
    pointer-events: none !important;
}

.descdash2 {
    font-size: 16px;
    text-align: left; 
    color: black;
    font-weight: 500;
    line-height: 48px;
    pointer-events: none !important;
}

.descdash3 {
    font-size: 16px;
    text-align: left; 
    color: black;
    font-weight: 500;
    line-height: 48px;
    pointer-events: none !important;
}

.dd-menu {
    max-height: 150px;
    overflow-y: auto;
}
/* :::::::::::::: END SECTION DESKRIPSI TOPIK PENDIDIKAN ::::::::::::::*/

/* :::::::::::::: START SECTION PROFIL SEKOLAH ::::::::::::::*/
section.pfpsekolah {
    margin-bottom: 50px;
}

.fotosekolah {
    margin-bottom: 0px;
}

.card-ps {
    box-shadow: 0px 2px 4px rgb(0 0 0 / 20%) !important;  
}

.card img.ftschool{
    max-width: 100% !important;
    max-height: 100% !important;
}

.descdashpfp {
    font-size: 16px;
    text-align: left; 
    color: black;
    font-weight: 600;
    line-height: 48px;
    pointer-events: none !important;
}
.titlepfp {
    font-size: 16px;
    text-align: left;
    color: #000000;
    font-weight: 600;
}
.textpfp {
    font-size: 16px;
    text-align: left;
    color: #000000;
    font-weight: 500;
}

.filterUN {
    margin-left: 40%;
}

.filterUN .btn-group {
    box-shadow: none !important;
}

.filterUN .btn{
    font-size: 16px;
    font-weight: 550;
    text-transform: capitalize;
    color: #000000 !important;
    text-align: center;
    background-color: #B0DEFF !important;
    border-radius: 7px;
    padding: 10px 27px 10px 27px;
    margin-left: 160px;
}

.filterUN .btn:hover {
    background-color: #B0DEFF !important;
}

.filterUN ul.dropdown-menu .dropdown-item{
    font-size: 16px;
    font-weight: 600;
    color: #000000;
    text-align: right;
}

.filterUN ul.dropdown-menu .dropdown-item:hover{
    color: #000;
    font-weight: 600;
}
/* :::::::::::::: END SECTION PROFIL SEKOLAH ::::::::::::::*/
/* ....!:::::::::: END HALAMAN PROFIL SEKOLAH::::::::::!....*/

/* ....!:::::::::: START HALAMAN SATUAN PENDIDIKAN::::::::::!....*/
/* :::::::::::::: START SECTION DESKRIPSI TOPIK ::::::::::::::*/
section.decsTP{
    margin-bottom: 50px;
}

.filterTP .btn-group {
    box-shadow: none !important;
}

.filterTP .btn{
    font-size: 16px;
    font-weight: 550;
    text-transform: capitalize;
    color: #000000 !important;
    text-align: center;
    background-color: #B0DEFF !important;
    border-radius: 7px;
    padding: 10px 27px 10px 27px;
    margin-left: 100px;
}

.filterTP .btn:hover {
    background-color: #B0DEFF !important;
}

.filterTP ul.dropdown-menu .dropdown-item{
    font-size: 16px;
    font-weight: 600;
    color: #000000;
    text-align: right;
}

.filterTP ul.dropdown-menu .dropdown-item:hover{
    color: #000;
    font-weight: 600;
}

@media only screen and (max-width: 600px) {
    .filterTP .btn{
        margin-left: 0px !important; 
        margin-top: 10px;  
    }
    .filterkpend .btn{
        margin-top: 10px; 
        margin-left: 0px !important;   
    }
    .filterUN {
        margin-left: -62% !important;   
    }
} 

.filterkpend .btn-group {
    box-shadow: none !important;
}

.filterkpend .btn{
    font-size: 16px;
    font-weight: 550;
    text-transform: capitalize;
    color: #000000 !important;
    text-align: center;
    background-color: #B0DEFF !important;
    border-radius: 7px;
    padding: 10px 27px 10px 27px;
    margin-left: 125px;
}

.filterkpend ul.dropdown-menu .dropdown-item{
    font-size: 16px;
    font-weight: 600;
    color: #000000 !important;
    text-align: right;
}

.filterkpend ul.dropdown-menu .dropdown-item:hover{
    color: #000 !important;
    font-weight: 600;
}

.filterkpend .btn:hover {
    background-color: #B0DEFF !important;
    color: #000 !important;
}

/* :::::::::::::: END SECTION DESKRIPSI TOPIK ::::::::::::::*/

/* :::::::::::::: START SECTION HIGHLIGHT SATUAN PENDIDIKAN ::::::::::::::*/
section.hlsatuanpend {
    margin-bottom: 50px;
}

.titlehls{
    color: #000000;
    font-size: 18px;
    font-weight: 600;
}

.texthls{
    color: #000000;
    font-size: 20px;
    font-weight: 500;
}
/* :::::::::::::: END SECTION HIGHLIGHT SATUAN PENDIDIKAN ::::::::::::::*/

/* :::::::::::::: START SECTION GRAFIK SATUAN PENDIDIKAN ::::::::::::::*/
#chartdivs1 {
    width: 100%;
    height: 500px;
}
#chartdivs2 {
    width: 100%;
    height: 500px;
}
#chartdivs3 {
    width: 100%;
    height: 500px;
}
#chartdivs4 {
    width: 100%;
    height: 500px;
}
#chartdivs5 {
    width: 100%;
    height: 500px;
}
#chartdivs6 {
    width: 100%;
    height: 500px;
}
/* :::::::::::::: END SECTION GRAFIK SATUAN PENDIDIKAN ::::::::::::::*/
/* ....!:::::::::: END HALAMAN SATUAN PENDIDIKAN::::::::::!....*/


/* ....!:::::::::: START HALAMAN NILAI UN::::::::::!....*/
/* :::::::::::::: START SECTION DESKRIPSI NILAI UN ::::::::::::::*/
section.decsUN{
    margin-bottom: 50px;
}
/* :::::::::::::: END SECTION DESKRIPSI NILAI UN ::::::::::::::*/

/* :::::::::::::: START SECTION GRAFIK NILAI UN ::::::::::::::*/

/* :::::::::::::: START SECTION GRAFIK NILAI UN ::::::::::::::*/
/* ....!:::::::::: END HALAMAN NILAI UN ::::::::::!....*/


/* ....!:::::::::: START HALAMAN KEPENDUDUKAN ::::::::::!....*/
/* :::::::::::::: START SECTION DESKRIPSI KEPENDUDUKAN ::::::::::::::*/
section.decskependudukan {
    margin-bottom: 50px;
}

.descdashpen {
    font-size: 22px;
    text-align: left; 
    color: black;
    font-weight: 600;
    line-height: 48px;
    pointer-events: none !important;
    padding-top: 150px !important;
}

.card-hlkp:hover {
    background-image: radial-gradient(#B0DEFF 30%, #E1F3FF 100%, #E1F3FF 0%);
 }

/* :::::::::::::: END SECTION DESKRIPSI KEPENDUDUKAN ::::::::::::::*/

/* :::::::::::::: START SECTION VISUALISASI PETA KEPENDUDUKAN ::::::::::::::*/
.cardgap {
    margin-bottom: 30px !important;
}
.decsvsp{
    color: #000000;
    font-size: 18px;
    font-weight: 600;
}

.decsvsp1{
    color: #000000;
    font-size: 16px;
    font-weight: 600;
}

.warnavsp1{
    background-color: #E9EDF1;
    width: 24px;
    height: 24px;
    border-radius: 2px;
    box-shadow: 0px 2px 4px rgb(0 0 0 / 20%) !important;
    margin-left: 90px;
    align-items: center !important;
}
.warnavsp2{
    background-color: #C2CDD8;
    width: 24px;
    height: 24px;
    border-radius: 2px;
    box-shadow: 0px 2px 4px rgb(0 0 0 / 20%) !important;
    margin-left: 90px;
    align-items: center !important;
}
.warnavsp3{
    background-color: #849AB0;
    width: 24px;
    height: 24px;
    border-radius: 2px;
    box-shadow: 0px 2px 4px rgb(0 0 0 / 20%) !important;
    margin-left: 90px;
    align-items: center !important;
}
.warnavsp4{
    background-color: #65819D;
    width: 24px;
    height: 24px;
    border-radius: 2px;
    box-shadow: 0px 2px 4px rgb(0 0 0 / 20%) !important;
    margin-left: 90px;
    align-items: center !important;
}

@media only screen and (max-width: 600px) {
    .warnavsp1{
      margin-left: 55px !important;
    }
    .warnavsp2{
        margin-left: 55px !important;
    }
    .warnavsp3{
        margin-left: 55px !important;
    }
    .warnavsp4{
        margin-left: 55px !important;
    }
}

@media only screen and (min-width: 1970px) {
    .warnavsp1{
      margin-left: 85px !important;
    }
    .warnavsp2{
        margin-left: 85px !important;
    }
    .warnavsp3{
        margin-left: 85px !important;
    }
    .warnavsp4{
        margin-left: 85px !important;
    }
}
/* :::::::::::::: END SECTION VISUALISASI PETA KEPENDUDUKAN ::::::::::::::*/

/* :::::::::::::: START SECTION GRAFIK PERTUMBUHAN PENDUDUK ::::::::::::::*/

/* :::::::::::::: END SECTION GRAFIK PERTUMBUHAN PENDUDUK ::::::::::::::*/


/* :::::::::::::: START SECTION GRAFIK USIA KEPENDUDUKAN ::::::::::::::*/
.card-title.decsuj{
    color: #000000 !important;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}
#chartdivu {
    width: 100%;
    height: 500px;
}
#chartdivg {
    width: 100%;
    height: 500px;
}
/* :::::::::::::: END SECTION GRAFIK USIA KEPENDUDUKAN ::::::::::::::*/
/* ....!:::::::::: END HALAMAN KEPENDUDUKAN ::::::::::!....*/


/* ....!:::::::::: START HALAMAN INDEKS SURVEY ::::::::::!....*/
/* :::::::::::::: START SECTION DESKRIPSI INDEKS SURVEY ::::::::::::::*/
section.decsins {
    margin-bottom: 50px;
}
/* :::::::::::::: END SECTION DESKRIPSI INDEKS SURVEY ::::::::::::::*/

/* :::::::::::::: START SECTION GRAFIK INDEKS SURVEY ::::::::::::::*/
.card-title.decsgik{
    color: #000000 !important;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}
#chartdivgik {
    width: 100%;
    height: 500px;
}
#chartdivgil {
    width: 100%;
    height: 500px;
}
#chartdivper1 {
    width: 100%;
    height: 500px;
}
#chartdivper2 {
    width: 100%;
    height: 500px;
}
.card-indeks{
    box-shadow: none !important;
    border: 1px solid #D9D9D9 !important; 
}
.textkec {
    color: #000000;
    font-size: 15px;
    font-weight: 600;
}
.warnakec{
    background-color: #005288;
    width: 24px;
    height: 24px;
    border-radius: 2px;
    box-shadow: 0px 2px 4px rgb(0 0 0 / 20%) !important;
    margin-left: 85px !important;
    align-items: center !important;
}
.warnakec1{
    background-color: #B0DEFF;
    width: 24px;
    height: 24px;
    border-radius: 2px;
    box-shadow: 0px 2px 4px rgb(0 0 0 / 20%) !important;
    margin-left: 85px;
    align-items: center !important;
}
@media only screen and (max-width: 600px) {
    .warnakec{
      margin-left: 30px !important;
    }
    .warnakec1{
      margin-left: 30px !important;
    }
    .colper1{
      margin-left: -0px !important;
    }
}
.colper{
    background-color: #E1F3FF;
    border-radius: 8px;
    padding: 10px;
    border-radius: 6px;
}
.colper1{
    background-color: #E1F3FF;
    border-radius: 8px;
    padding: 10px;
    border-radius: 6px;
    margin-left: 30px;
}
.rowper{
    margin-top: 20px !important;
    row-gap: 20px !important;
}
/* :::::::::::::: END SECTION GRAFIK INDEKS SURVEY ::::::::::::::*/
/* ....!:::::::::: END HALAMAN INDEKS SURVEY ::::::::::!....*/


/* ....!:::::::::: START HALAMAN KESEHATAN ::::::::::!....*/
/* :::::::::::::: START SECTION VISUALISASI PETA KESEHATAN ::::::::::::::*/
.card-hk{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 390px;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: initial;   
}

@media only screen and (max-width: 600px) {
    .card-hk {
      width: 300px !important;
    }
}

.card-mk{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 825px;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: initial;  
}

@media only screen and (max-width: 600px) {
    .card-mk {
      width: 300px !important;
    }
}

.fcheck{
    margin-top: 20px;
    color: #000000;
    font-size: 16px;
}
.fcheck2{
    margin-top: 5px;
    color: #000000;
    font-size: 16px;
}
/* :::::::::::::: END SECTION VISUALISASI PETA KESEHATAN ::::::::::::::*/

/* :::::::::::::: START SECTION GRAFIK KESEHATAN ::::::::::::::*/
section.grafikes{
    margin-bottom: 50px;
}
.card-header.decsgk{
    color: #000000 !important;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}
#chartdiv {
    width: 100%;
    height: 500px;
}
/* :::::::::::::: END SECTION GRAFIK KESEHATAN ::::::::::::::*/
/* ....!:::::::::: END HALAMAN KESEHATAN ::::::::::!....*/